name: Publish Storybook Docs

on:
  push:
    branches:
      - master
    tags:
      - '@pm-kit/*'

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm ci
      - run: npm run storybook:cipublish $GITHUB_SHA
        env:
          NETLIFY_API_ID: ${{ secrets.NETLIFY_API_ID }}
          NETLIFY_ACCESS_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
